button {
  margin: 64px;
  width: 200px;
  height: 50px;
  align-items: center;
  background-color: coral;
  color: white;
  border-radius: 4px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  color: darkcyan;
}

button:hover > .bird {
  fill: green;
}

.bird {
  width: 32px;
  height: 32px;
  fill: white;
  vertical-align: middle;
}
